extends dashboardLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') NewsEnepal
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/login/out')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/otherUser')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li.active
              a(href='/news/addNews')
                i.fa.fa-newspaper-o
                |  News
            li
              a(href='/news/comments')
                i.fa.fa-comments
                |  Comments
            li
              a(href='/advertisement')
                i.fa.fa-money
                |  Advertisements
            li
              a(href='/writer')
                i.fa.fa-users
                |  Writers 
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Add News    
          .row
            .col-sm-12
              .CategoryList
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title
                          | Recently Added News List
                          button(type="button" class='btn btn-primary addNewNews'  style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
                      .panel-body
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped.recentlyAddedNewsListTable
                            thead
                              tr 
                                th Name 
                                th Category
                                th Created At  
                                th Action
                            each item, index in newsData
                             -console.log(item.newsTitle +  " = " + index)
                             tr  
                              td=item.newsTitle
                              td=item.newsCategory.name
                              td=item.createdAt.toISOString().slice(0,10)
                              td
                               a(href="#" class="editNewsClass" data-target="#editNews" data-toggle="modal" id="#{index}") Edit
                       
                      .col-sm-12(style="padding-top:5px;padding-bottom:10px ") 
                          .col-sm-1.col-xs-1
                            .arrowRight(style='height:25px;width:25px; background:#CFC3C3;padding: 5px 5px 5px 5px;margin-left: -30px; display:none;  ')
                              i.fa.fa-arrow-left
                          .col-sm-10.col-xs-10
                          .col-sm-1.col-xs-1
                            .arrowLeft(style='height:25px;width:25px; background:#CFC3C3;padding: 5px 5px 5px 5px; float:right;  margin-right: -30px;')
                              i.fa.fa-arrow-right
                              input(name='arrowLeft', value='0', type='hidden')
                               
          .row
            .col-lg-12.editNewsDiv(style="display:none")
             .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Edit News
                    //button(type="button" class='btn btn-primary addContentForNewsButton', onclick="addContentForNews()"  style="float:right;margin-top:-5px" )
                     //i.fa.fa-plus
                .panel-body
                  form.form-horizontal.editContentForNewsForm(enctype="multipart/form-data")
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Category
                      .col-sm-10
                          
                          select#editcategorySelection.form-control(name="category" required)
                            option(value="null") ---- select ----
                            each item in categoryData  
                              option(value="#{item._id}") #{item.name}
                              
                    .form-group
                      label.col-sm-2.control-label(for='memberName') News Title
                      .col-sm-10
                        input.form-control(type="text" name="newsTitle"  required)
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Place
                      //.col-sm-10
                        //input.form-control(type="text" name="place"  )
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Longitute
                      //.col-sm-10
                        //input.form-control(type="text" name="longi"  )
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Latitude
                      //.col-sm-10
                        //input.form-control(type="text" name="lati"  )

                    .form-group
                      label.col-sm-2.control-label(for='memberName') Content
                      .col-sm-10
                        textarea.form-control(rows="10" name="editParagraph"   required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Breaking
                      .col-sm-10
                        select#publishSelection.form-control(name="breaking" required)
                             option(value="0") No
                             option(value="1") Yes
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Priority
                      .col-sm-10
                        select#publishSelection.form-control(name="priority" required)
                             option(value="0") No
                             option(value="1") Yes
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Video Link
                      //.col-sm-10
                         //input.form-control(type='text', name='video'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Writer
                      .col-sm-10
                         select#editWriterSelection.form-control(name="writer" required) 
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Location
                      .col-sm-10
                         input.form-control(type='text', name='locationName'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखको अंश
                      .col-sm-10
                         input.form-control(type='text', name='initialNews'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखको तस्बिर
                      .col-sm-10
                         input.form-control(type='text', name='initialPicture'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखक 
                      .col-sm-10
                         input.form-control(type='text', name='newsWriter'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखकको तस्बिर
                      .col-sm-10
                         input.form-control(type='text', name='newsWriterImg'  )
                     
                    .form-group.formSubmit
                      .col-sm-offset-2.col-sm-10
                         
                        button.btn.btn-default.closeAddNewsDiv(type='button'  ) Close 
                        button.btn.btn-primary(type='submit' style="margin-left:20px") Edit
                        input(type="hidden" name="newsId") 
          .row
            .col-lg-12.addNewsDiv(style="display:none")
             .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Content
                    //button(type="button" class='btn btn-primary addContentForNewsButton', onclick="addContentForNews()"  style="float:right;margin-top:-5px" )
                     //i.fa.fa-plus
                .panel-body
                  form.form-horizontal.addContentForNewsForm(enctype="multipart/form-data", action="/news/addNews" method="post" )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Category
                      .col-sm-10
                          
                          select#categorySelection.form-control(name="category" required)
                            option(value="null") ---- select ----
                            each item in categoryData  
                              option(value="#{item._id}") #{item.name}
                              
                    .form-group
                      label.col-sm-2.control-label(for='memberName') शिर्षक
                      .col-sm-10
                        input.form-control(type="text" name="newsTitle"  required)
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Place
                      //.col-sm-10
                        //input.form-control(type="text" name="place"  required)
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Longitute
                      //.col-sm-10
                        //input.form-control(type="text" name="longi"  )
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Latitude
                      //.col-sm-10
                        //input.form-control(type="text" name="lati"  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') पुरा लेख
                      .col-sm-10
                        textarea.form-control(rows="10" name="paragraph"   required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Breaking
                      .col-sm-10
                        select#publishSelection.form-control(name="breaking" required)
                             option(value="0") No
                             option(value="1") Yes
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Priority
                      .col-sm-10
                        select#publishSelection.form-control(name="priority" required)
                             option(value="0") No
                             option(value="1") Yes
                    //.form-group
                      //label.col-sm-2.control-label(for='memberName') Video Link
                      //.col-sm-10
                         //input.form-control(type='text', name='video'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Writer
                      .col-sm-10
                         select#writerSelection.form-control(name="writer" required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Location
                      .col-sm-10
                         input.form-control(type='text', name='locationName'  ) 
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखको अंश
                      .col-sm-10
                         input.form-control(type='text', name='initialNews'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखको तस्बिर
                      .col-sm-10
                         input.form-control(type='text', name='initialPicture'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखक 
                      .col-sm-10
                         input.form-control(type='text', name='newsWriter'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') लेखकको तस्बिर
                      .col-sm-10
                         input.form-control(type='text', name='newsWriterImg'  )
                    .form-group.formSubmit
                      .col-sm-offset-2.col-sm-10
                         
                        button.btn.btn-default.closeAddNewsDiv(type='button'  ) Close 
                        button.btn.btn-primary(type='submit' style="margin-left:20px") Add 
                     
                //.panel-footer
                   .col-sm-offset-11
                      button.btn.btn-primary.addNewsSubmitButton(type='submit' ) Add

                //.clearfix
          .row
            .col-sm-12
      script var categoryData = !{JSON.stringify(categoryData)};
      script var newsData =  !{JSON.stringify(newsData)}  ;
      script var writerData = !{JSON.stringify(writerData)};
      script(src='/javascripts/js/bootstrap.min.js')
      script(src='/javascripts/js/validate.js')
      script(src='/javascripts/editorUser.js')
      script(src='/ckeditor/ckeditor.js')
      //script(src='http://ktmsamachar.com/ckeditor/plugins/embed/plugin.js')
      
      //script(src='//cdn.ckeditor.com/4.5.7/standard-all/ckeditor.js')
      
      
      script.
        CKEDITOR.replace( 'paragraph',  {uiColor: '#754756', extraPlugins: 'embed,autoembed',}  );
        CKEDITOR.replace('editParagraph',  {uiColor: '#754756',extraPlugins: 'embed,autoembed' } );
        var categorySelection = $('select#categorySelection'); 
        var writerSelection = $('select#writerSelection');
        
        $('.addContentForNewsForm #categorySelection').change(function(e){
         //alert($(this).val());
         writerSelection.empty().append(function(){
         //first we empty everything from the selection of writer 
         var output = '<option > --Select Writer--</option>';
         
         for(var i = 0;i<writerData.length;i++){
          console.log(writerData[i].fullName);
          for(var j = 0; j<writerData[i].category.length; j++){
           if(categorySelection.val() === writerData[i].category[j]._id){
             console.log('its equal' + writerData[i].fullName);
            output += '<option value='+ writerData[i]._id  +'>' +writerData[i].fullName + '</option>';
           }
          } 
          
         }
         return output;
          
         });
        });

