extends dashboardLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') NewsEnepal
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/login/out')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/otherUser')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/news/addNews')
                i.fa.fa-newspaper-o
                |  News
            li.active
              a(href='/news/comments')
                i.fa.fa-money
                |  Comments
            li
              a(href='/advertisement')
                i.fa.fa-money
                |  Advertisements
            li
              a(href='/writer')
                i.fa.fa-users
                |  Writers 
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Comments     
          .row
            .col-sm-12
              .commentList
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title
                          | Recently Arrived Comment  List
                         // button(type="button" class='btn btn-primary addNewNews'  style="float:right;margin-top:-8px" )
                          // i.fa.fa-plus
                      .panel-body
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped.recentlyAddedNewsListTable
                            thead
                              tr 
                                th User 
                                th Email
                                th Comment
                                th Publish
                                th Created At  
                                th Action
                            each item, index in commentData
                             tr  
                              td=item.commentUser.name
                              td=item.commentUser.email
                              td=item.comment.toString().slice(0,200)
                              td=item.publish
                              td=item.date.toISOString().slice(0,10)
                              td
                               a(href="#" class="editCommnetClass" data-toggle="modal" id="#{index}") Edit
                      .col-sm-12(style="padding-top:5px;padding-bottom:10px ") 
                          .col-sm-1.col-xs-1
                            .arrowRight(style='height:25px;width:25px; background:#CFC3C3;padding: 5px 5px 5px 5px;margin-left: -30px; display:none;  ')
                              i.fa.fa-arrow-left
                          .col-sm-10.col-xs-10
                          .col-sm-1.col-xs-1
                            .arrowLeft(style='height:25px;width:25px; background:#CFC3C3;padding: 5px 5px 5px 5px; float:right;  margin-right: -30px;')
                              i.fa.fa-arrow-right
                              input(name='arrowLeft', value='0', type='hidden')
                               
          .row
            .col-lg-12.editCommentDiv(style="display:none")
             .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Edit News
                .panel-body
                  form.form-horizontal.editComment 
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Comment
                      .col-sm-10
                        textarea.form-control( name="comment" rows='5' required readonly)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Publish
                      .col-sm-9
                          select#publishSelection.form-control(name="publish" required)
                              option(value="1") Yes
                              option(value="0") No
                    .form-group.formSubmit
                      .col-sm-offset-2.col-sm-10
                         
                        button.btn.btn-default.closeEditCommentDiv(type='button'  ) Close 
                        button.btn.btn-primary(type='submit' style="margin-left:20px") Edit
                        input(type="hidden" name="commentId") 
          .row
            .col-sm-12
      script var commentData = !{JSON.stringify(commentData)};
      script(src='/javascripts/js/bootstrap.min.js')
      script(src='/javascripts/js/validate.js')
      script(src='/javascripts/editorUser.js')
