doctype html5
html(lang='en')
  head
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title KTM Samachar Admin Panel
    //link(rel='shortcut icon', href='/images/sanzaal.ico')
   
    link(href='/stylesheets/css/bootstrap.min.css', rel='stylesheet')
   
    link(href='/stylesheets/dashboard.css', rel='stylesheet')
  
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
   
    script(type="text/javascript", src='/javascripts/js/jquery-2.1.4.min.js')
  
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    
  body
    block content