extends dashboardLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') NewsEnepal
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/login/out')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='/otherUser')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/news/addNews')
                i.fa.fa-newspaper-o
                |  News
            li
              a(href='/news/comments')
                i.fa.fa-comments
                |  Comments
            li
              a(href='/advertisement')
                i.fa.fa-money
                |  Advertisements
            li
              a(href='/writer')
                i.fa.fa-users
                |  Writers 
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | KTM Samachar 
                small today
                button(type="button" class='btn btn-primary' data-target="#addCategory" data-toggle="modal" style="float:right;margin-top:-8px" )
                           i.fa.fa-plus    
          .row
            .col-lg-4.col-md-6
              .panel.panel-primary
                .panel-heading
                  .row
                    .col-xs-4
                      i.fa.fa-eye.fa-5x
                    .col-xs-8.text-right
                      -var total = 0;
                      each item, index in viewCounterData
                       -total+= item.pageCounter 
                      -var myTotalView = total;
                      -if(total >=1000){ myTotalView = (total/1000).toString().slice(0,4) +'k' ;}
                      .huge #{myTotalView}
                      div Page Visits
                //a(href='#')
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                //    .clearfix
                .panel-body
                 .table-responsive
                          table.table.table-bordered.table-hover.table-striped
                            thead
                              tr
                                th Sn # 
                                th Date
                                th Visits
                            each item, index in viewCounterData
                             tr 
                              td=index+1 
                              td=item.viewCounterOfWhen
                              td=item.pageCounter
            .col-lg-4.col-md-6
              .panel.panel-green
                .panel-heading
                  .row
                    .col-xs-4
                      i.fa.fa-tasks.fa-5x
                    .col-xs-8.text-right
                      .huge 12
                      div Meeting and Minutes
                a(href='#')
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
            .col-lg-4.col-md-6
              .panel.panel-red
                .panel-heading
                  .row
                    .col-xs-4
                      i.fa.fa-calendar.fa-5x
                    .col-xs-8.text-right
                      .huge 13
                      div Events
                a(href='#')
                  .panel-footer
                    span.pull-left View Details
                    span.pull-right
                      i.fa.fa-arrow-circle-right
                    .clearfix
          .row
            .col-sm-12
              .CategoryList
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title
                          | Category List
                          button(type="button" class='btn btn-primary' data-target="#addCategory" data-toggle="modal" style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
                      .panel-body
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped
                            thead
                              tr
                                th Sn #
                                th Name 
                                th Position
                                th Created At  
                                th Action
                            each item, index in categoryData
                             tr 
                              td=index+1
                              td=item.name
                              td=item.index
                              td=item.createdAt.toISOString().slice(0,10)
                              td
                               a(href="#" class="editUserButtonClass" data-target="#editCategory" data-toggle="modal" id="#{index}") Edit
    #editCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
       .modal-dialog(role='document')
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal', aria-label='Close')
               span(aria-hidden='true') &times;
             h4#myModalLabel.modal-title Edit Category
           .modal-body 
             form.form-horizontal.editCategoryForm
                .form-group
                  label.col-sm-3.control-label(for='memberName') Category Name
                  .col-sm-9
                    input.form-control(type='text', name="category"  required)
                .form-group
                    label.col-sm-3.control-label(for='memberName') Publish
                    .col-sm-9
                        select#publishSelection.form-control(name="publish" required)
                            option(value="1") Yes
                            option(value="0") No
                .form-group
                  label.col-sm-3.control-label(for='memberName') Index
                  .col-sm-9
                    input.form-control(type='Number', name="index"  required)
                .form-group
                  .col-sm-offset-3.col-sm-9
                    button.btn.btn-default(type='button' data-dismiss="modal") Close 
                    button.btn.btn-primary(type='submit' style="margin-left:20px") edit
                    input(type="hidden" name="categoryId")

    #addCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
       .modal-dialog(role='document')
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal', aria-label='Close')
               span(aria-hidden='true') &times;
             h4#myModalLabel.modal-title Add Category
           .modal-body 
             form.form-horizontal.addCategoryForm
                .form-group
                  label.col-sm-3.control-label(for='memberName') Category Name
                  .col-sm-9
                    input.form-control(type='text', name="category"  required)
                .form-group
                    label.col-sm-3.control-label(for='memberName') Publish
                    .col-sm-9
                        select#publishSelection.form-control(name="publish" required)
                            option(value="1") Yes
                            option(value="0") No
                .form-group
                  label.col-sm-3.control-label(for='memberName') Index
                  .col-sm-9
                    input.form-control(type='Number', name="index"  required)
                .form-group
                  .col-sm-offset-3.col-sm-9
                    button.btn.btn-default(type='button' data-dismiss="modal") Close 
                    button.btn.btn-primary(type='submit' style="margin-left:20px") Create 
 
 // Bootstrap Core JavaScript
 script var categoryData = !{JSON.stringify(categoryData)};
 script(src='/javascripts/js/bootstrap.min.js')
 script(src='/javascripts/editorUser.js')