nav.navbar.navbar-default.navbar-top(style="background-color: white;font-family:Open sans !important;margin-bottom: 0px;") 
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar 
          .col-sm-3
            each item in advertData
                -if(item.publish && item.position == 1000)
                        a(href='#' style="color:white;font-family:Open sans; text-align:center") 
                          img(src="#{item.picture}" style="  height:90px; width:400px" )
          .col-sm-6
            a(href='/' style="color:white;font-family:Open sans; text-align:center") Newsenepal
              img(src="/images/logo_big.jpg" style="  height:90px")
          .col-sm-3
            each item in advertData
                -if(item.publish && item.position == 1001)
                        a(href='#' style="color:white;font-family:Open sans; text-align:center") 
                          img(src="#{item.picture}" style="  height:90px; width:400px" )
           
      
      #navbar.collapse.navbar-collapse.myMenu(style="background:#2F4F4F;padding: 0 15px;") 
          ul.nav.navbar-nav.menuList 
            //-console.log(categoryData);
            li
              a(href='/') 
            each item in categoryData
              li
                  -if(item.publish)
                    a(href='/news/#{item.name}' style="color:white; font-size:1.5em") #{item.name}
script var categoryData = !{JSON.stringify(categoryData)};
script.
      var url= window.location.href;
      var decodedUrl = decodeURIComponent(url);
      var reg = /[^:.a-zA-Z0-9\/]+/g;
      var category = reg.exec(decodedUrl);
      
      for(i=0;i<categoryData.length;i++){
         
         if(categoryData[i].name == category){
          
          $('.menuList li:eq('+(i+1)+')').addClass("active");
           break;
        } 
      }
