extends layout

block content  
	script var categoryData = !{JSON.stringify(categoryData)};
	include header.jade
	//script(src='/javascripts/js/jquery.nicescroll.min.js')
	script(src="/javascripts/js/jquery.marquee.js")
	script(src="/javascripts/js/lazyLoad.js")
	
	script(src='/javascripts/js/reflection.js')
	script(src='/javascripts/js/jquery.interpolate.min.js')
	//script(src='/javascripts/js/jquery.coverflow.js')
	script.
		 $(function() { $('.lazy').lazy({delay:200}); });
		 $(document).ready(function() {
			//$('.carousel').carousel({interval: 6000,cycle: true });
		 	$('#marquee-horizontal').marquee({direction:'horizontal', delay:0, timing:50});
			var nice = $("html").niceScroll({cursorwidth:"10px"});
		 	  $(".breakingNewsRemainingList").niceScroll({cursorcolor:"#b9b9b9",cursorwidth:"8px"});
			  $(".breakingNewsRemainingList").css({"overflow-x":"hidden"});
			   
			  $(".dottedList").niceScroll({cursorcolor:"#b9b9b9", cursorwidth:"8px", touchbehavior:true,cursordragontouch: true});
		  var stickyNavTop = $('.myMenu').offset().top;
		 
		  var stickyNav = function(){
		  var scrollTop = $(window).scrollTop();     
		  if (scrollTop > stickyNavTop) { 
		      $('.myMenu').addClass('sticky');
		      //$(".list-wrpaaer").css("top");
		  } else {
		      $('.myMenu').removeClass('sticky');
			$(".list-wrpaaer").removeClass('sticky');  
		  }
		   
		  };
		   
		  stickyNav();
		   
		  $(window).scroll(function() {
		      stickyNav();
		       
		  });
		  
		  /*
				$('.coverflow').coverflow();
				
				
				$('#wheel').click(function() {
					$('.coverflow').coverflow('option', 'enableWheel', $(this).is(':checked'));
				});
				
				$('#click').click(function() {
					$('.coverflow').coverflow('option', 'enableClick', $(this).is(':checked'));
				});

		  if ($.fn.reflect) {
				$('.photos .cover').reflect();
			}
			$('.photos').coverflow({
				easing:			'easeOutElastic',
				duration:		'slow',
				index:			3,
				width:			600,
				height:			240,
				visible:		'density',
				selectedCss:	{	opacity: 1	},
				outerCss:		{	opacity: .1	},
				
				confirm:		function() {
					console.log('Confirm');
				},
				change:			function(event, cover) {
					//var img = $(cover).children().andSelf().filter('img').last();
					//$('#photos-name').text(img.data('name') || 'unknown');
				}
					
			});
			*/
		  });
		   $(document).ready(function() { 
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src ="//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			
			 
			
		   });
		  
	.container  
		
		
		.row 
				.list-wrpaaer(style='height: 40px;  overflow: hidden; background-color: darkred;')
					
					ul#marquee-horizontal.list-aggregate(style='position: absolute; top: 0px;  width: 100%;')
						each item, index in breakingNewsData
							if(item.breaking)
								li.fat-l
									a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:white") * #{item.newsTitle} *

		.row
			.col-sm-12 
				.col-sm-3
					.thumbnail
						.categoryHeading
							h4.categoryTitle साताको लोकप्रिय
						ul.dottedList
								each item, index in popularData
									li
										a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
					.advertisement.thumbnail
						h3 Advertisements
						br
						if(advertData.length >0)
							- var counter = 0;
							each item, index in advertData 
								if(  item.publish && item.position >=100 && item.position < 1000) 
									- counter++
									if(item.website === "null")
										img(src="#{advertData[index].picture}")
									else
										a(href="#{item.website}" target="ext")
											img(src="#{advertData[index].picture}")
										br
									hr
									
							-var imgCount = counter;
							-if(imgCount == 0) imgCount = 0
							-else imgCount = imgCount -1
							- console.log('image =' + counter)
							-for(var i=imgCount;i<5;i++){
								a(href="mailto:marketing.ktmsamachar@gmail.com")
									img( src="/images/advert1.jpg") 
							-}
				.col-sm-6.newsSection
					each item, index in priorityNewsData
						.thumbnail1.breakingNews.col-sm-12.col-lg-12
							h2
								a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2; font-size:1.3em" ) #{item.newsTitle}
							hr
							.wrap-text
								if(item.initialNews)
									if(item.initialPicture)
										img(src="#{item.initialPicture}")
									p !{item.initialNews.slice(0,500)} ..
								else
									-var myItem = item.newsContent[0].newsContent.toString().slice(0,500);
									//-var pattern = /src\s*=\s*"([^"]+)"/;
									-var pattern = /<p>(.*)<\/p>/;
									-var tempImgUrl = pattern.exec(item.newsContent[0].newsContent.toString());
									
									if(myItem.indexOf('<img')>-1)
										-var extractImgPattern = /(src)=("[^"]*")/i;
										-var imgLink = extractImgPattern.exec(tempImgUrl[0]);
										if(imgLink)
											-var imgUrl = imgLink[0].toString().replace('src=','').replace(/\"/g,'');  
											img.newsImage.lazy(data-src=imgUrl  )
										if(item.newsContent[0].newsContent.toString().slice((tempImgUrl[0].length+1),200).indexOf('data-oembed-url') >-1)
										else
											p !{item.newsContent[0].newsContent.toString().slice((tempImgUrl[0].length+1),200) } ... 
										
									else
										-if(tempImgUrl === null){
											if(item.newsContent[0].newsContent.toString().indexOf('data-oembed-url') >-1)
											else
												p !{item.newsContent[0].newsContent.toString().slice(0,200) } ... 
										
										-}	
										-else { 
										-var imgUrl = tempImgUrl[0].replace('src=','').replace(/\"/g,''); 
										//a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") 
										//	img.newsImage(src=imgUrl)
										if(item.newsContent[0].newsContent.toString().indexOf('data-oembed-url') >-1)
										else
											p !{item.newsContent[0].newsContent.toString().slice(0,200) } ...
										-}  
							a(style="font-size:14px;" href="/news/#{item.newsCategory.name}/#{item._id}") पूरा पढ्नुहोस्  
								i.fa.fa-angle-right 
							if(item.newsWriter)
								hr
								.extraInfo(style="font-size: 0.75em;text-align: left; ")
									a(style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
										span
											i.fa.fa-pencil-square-o  #{item.newsWriter}
									if(item.locationName)
										a( style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
											span(style="margin-left:30px")
												i.fa.fa-map-marker  #{item.locationName}
					#addedNews
					.nextButton(style="padding-bottom:20px")
						button.btn.btn-primary.nextButtonClass(type='button' id="0" style="display:none") थप खबरहरु
				
				.col-sm-3
					.thumbnail.remainingNews 
						.categoryHeading
							h4.categoryTitle भर्खरै 
						ul.dottedList 
								each item, index in homeNewsData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in politicsData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in financeData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in viewsData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in abroadData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in gamesData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in literatureData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in artData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in religionData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in healthData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
								each item, index in societyData 
									if(index == 0)
										li
											a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
					.advertisement.thumbnail
						h3 Advertisements
						br
						if(advertData.length >0)
							- var counter = 0;
							each item, index in advertData 
								if(  item.publish && item.position >20 && item.position < 100) 
									- counter++
									if(item.website === "null")
										img(src="#{advertData[index].picture}")
									else
										a(href="#{item.website}" target="ext")
											img(src="#{advertData[index].picture}")
										br
									hr
									
							-var imgCount = counter;
							-if(imgCount == 0) imgCount = 0
							-else imgCount = imgCount -1
							- console.log('image =' + counter)
							-for(var i=imgCount;i<5;i++){
								a(href="mailto:marketing.ktmsamachar@gmail.com")
									img( src="/images/advert1.jpg") 
							-}
						
	footer
		.container
			.row
				.col-md-4
					span.copyright Address:  Kalanki -14, Kathmandu, Nepal
					br
					span.copyright Phone: +977-1-4032177
					br
					span.copyright Design: 
						a(href="http://visiongroupnepal.com" target="") visiongroupnepal.com
					.fb-page(data-href='https://www.facebook.com/newsenepalktm', data-width='340', data-hide-cover='false', data-show-facepile='true')
				.col-md-4
					ul.list-inline.social-buttons
						//li
						//	a(href='https://twitter.com/ktm_samachar?lang=en' target="ext")
						//		i.fa.fa-twitter
						li
							a(href='https://www.facebook.com/newsenepalktm/?fref=ts' target="ext")
								i.fa.fa-facebook
					//span.copyright Editor in Chief: Madhukar Adhikari
					br
					a(href="/member", target="ext") Team
					br
					span.copyright Copyright @ Newsenepal 2016
				.col-md-4
					
					.mailingAddress(style="float: center; padding-left: 20px;")
						.col-sm-1
							span.contactInfo 
								i.fa.fa-envelope-o.fa-2x
						p 
							a(href="mailto:newsenepal2017@gmail.com") Newsenepal
						//p 
						//	a(href="mailto:article.ktmsamachar@gmail.com") article.ktmsamachar@gmail.com
						//p
						//	a(href="mailto:ktmsamachar@gmail.com") ktmsamachar@gmail.com
				.clearfix
				label.pageCounter
	a( href="#0" class="cd-top") Top
	script(src="/javascripts/js/jquery.marquee.js")
	script(src="/javascripts/pageCounter.js")
	//script(type='text/javascript', src='//go.oclaserver.com/apu.php?zoneid=734486')
	//script(data-cfasync='false', src='//d2kbaqwa2nt57l.cloudfront.net/?qabkd=612327')
	