doctype html
html
  head 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(property='og:image', content='/images/nen.ico')
    //meta(property="fb:pages" content="241360142871082" )
    title= title
    link(rel='shortcut icon', href='/images/nen.ico')
    link(href='/stylesheets/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/css/agency.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/javascripts/js/jquery-2.1.4.min.js')
    script(src='/javascripts/js/bootstrap.min.js')
    //script(src='/javascripts/js/wow.js')
    script(src='/javascripts/js/jquery.nicescroll.min.js')
    script(src="/javascripts/js/backToTop.js")
    //go.ad2upapp.com/afu.php?id=734479
    
    
  body
    block content