extends loginLayout
block content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Newsenepal
          .row
            .col-sm-6.col-sm-offset-3.form-box
              .form-top
                .form-top-left
                  h3 Enter username and password :
                .form-top-right
                  i.fa.fa-lock
              .form-bottom
                form.login-form(role='form' action="/login/login" method='post' )
                  .form-group
                    label.sr-only(for='form-username') Username
                    input#form-username.form-username.form-control(type='text', name='username', placeholder='Username...', required)
                  .form-group
                    label.sr-only(for='form-password') Password
                    input#form-password.form-password.form-control(type='password', name='password', placeholder='Password...', required)
                  button.btn(type='submit') Sign in!
                .alert.userCheck.alert-info(role='alert' style="display:none") either username or password is incorrect !!
     
    script(src='/javascripts/js/bootstrap.min.js')
    script(src='/javascripts/js/backstrech.min.js')
    script(src='/javascripts/login.js')