extends layout

block content  
    script var categoryData = !{JSON.stringify(categoryData)};
    include header.jade
    
    .newsContainer
        .row
            .thumbnail.remainingNews
                p
                    b Editor in Chief :
                    |  Kushal Aryal
                br
                p
                    b Chairman/ Managing Director :
                    |  Deepak Gaire
                br
                p
                    b Chief Operation Officer:
                    |  Nirmal Gaire
                br
    footer
        .container
                .row
                        .col-md-4
                                span.copyright Address:  Babarmahal, Kathmandu, Nepal
                                br
                                span.copyright Phone: +977-1-4032177
                                br
                                span.copyright Design: 
                                        a(href="http://visiongroupnepal.com" target="") visiongroupnepal.com
                                .fb-page(data-href='https://www.facebook.com/newsenepalktm', data-width='340', data-hide-cover='false', data-show-facepile='true')
                        .col-md-4
                                ul.list-inline.social-buttons
                                        li
                                                a(href='https://www.facebook.com/newsenepalktm' target="ext")
                                                        i.fa.fa-facebook
                                //span.copyright Editor in Chief: Kushal Aryal
                                br
                                a(href="/member", target="ext") Team
                                br
                                span.copyright Copyright @ Newsenepal 2017
                        .col-md-4
                                
                                .mailingAddress(style="float: center; padding-left: 20px;")
                                        .col-sm-1
                                                span.contactInfo 
                                                        i.fa.fa-envelope-o.fa-2x
                                        p 
                                                a(href="mailto:newsenepal2017@gmail.com") Newsenepal
                                        //p 
                                        //        a(href="mailto:article.ktmsamachar@gmail.com") article.ktmsamachar@gmail.com
                                        //p
                                        //        a(href="mailto:ktmsamachar@gmail.com") ktmsamachar@gmail.com
        