extends layout

block content  
	script var categoryData = !{JSON.stringify(categoryData)};
	include header.jade
	script.
		var switchTo5x=true;
		//stLight.options({publisher: "6fa3f31f-0b02-43c1-9b92-f643e294f343", doNotHash: false, doNotCopy: false, hashAddressBar: false});
		$(document).ready(function() {

		 	 
		$(".dottedList").niceScroll({cursorborder:"",cursorcolor:"#b9b9b9", touchbehavior:true,preventmultitouchscrolling: false});
		var stickyNavTop = $('.myMenu').offset().top;

		var stickyNav = function(){
		var scrollTop = $(window).scrollTop();
		    
		if (scrollTop > stickyNavTop) { 
		  $('.myMenu').addClass('sticky');
		} else {
		  $('.myMenu').removeClass('sticky'); 
		}
		};

		stickyNav();
		$(window).scroll(function() {
		  stickyNav();
		});
		});
		//calling next page
	.newsContainer  

		.row  
			.categoryDiv.col-sm-12
				.socialMedia  
				//	span.st_facebook_vcount(displaytext='Facebook')
				//	span.st_twitter_vcount(displaytext='Tweet')
				//img(src="http://www.ratopati.com/wp-content/uploads/2015/11/Preeti-Pizza-1140-129.gif")
				each item, index in advertData 
					if(advertData[index].category.name === newsData[0].newsCategory.name && item.position <=20 && item.publish==="true") 
						if(item.website === "null")
							img(src="#{advertData[index].picture}")
						else
							a(href="#{item.website}" target="ext")
								img(src="#{advertData[index].picture}")
				.categoryNews.col-sm-9
					each item in newsData
						.thumbnail.selectedCategoryDiv.remainingNews
							h2.tex-center
								a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2; font-size:1.1em" ) #{item.newsTitle}
							if(item.initialNews)
									if(item.initialPicture)
										img(src="#{item.initialPicture}")
									p !{item.initialNews.slice(0,500)} ..
							
							hr
							.extraInfo(style="font-size: 0.75em;text-align: left; ")
								a(style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
									span
										i.fa.fa-bullseye  #{item.counter+1000}
								a( style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
									span(style="margin-left:30px")
										i.fa.fa-comments  #{item.comments.length}
								a( style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
									span(style="margin-left:30px")
										i.fa.fa-newspaper-o   #{item.createdAt.toLocaleDateString()} @ #{item.createdAt.toString().slice(16,21)}
				.myAdverts().col-sm-3.col-xs-12-col-md-2
					.favourite
						if(higestNews.length > 0)
							.thumbnail  
								h4 लोकप्रिय
								.breakingNewsLeftSection
										ul.dottedList(style="max-height:500px;")
											each item, index in higestNews
												if(index  ==0 )
													li
														a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
														br
														a(style="font-size:1em;" href="/news/#{item.newsCategory.name}/#{item._id}") पूरा पढ्नुहोस्  
															i.fa.fa-angle-right
															span( style="color:lightgray;margin-left:30px")
																i.fa.fa-bullseye #{item.counter+1000}
															span(style="color:lightgray;margin-left:30px" )
																i.fa.fa-comments #{item.comments.length} 
												if(index > 0 )
													li
														a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
															span( style="color:lightgray;margin-left:30px")
																i.fa.fa-eye #{item.counter}
															span(style="color:lightgray;margin-left:30px" )
																i.fa.fa-comments #{item.comments.length}
					.advertisement
						if(advertData.length >0)
							each item, index in advertData 
								if(advertData[index].category.name === newsData[0].newsCategory.name && item.position >20 && item.publish==="true" && item.position <100) 
									if(item.website === "null")
										img(src="#{advertData[index].picture}")
									else
										if(item.publish)
											a(href="#{item.website}" target="ext")
												img(src="#{advertData[index].picture}")
											br
							-var imgCount = advertData.length;
							-if(imgCount == 0) imgCount = 0
							-else imgCount = imgCount -1
							-for(var i=imgCount;i<10;i++){
								a(href="mailto:marketing.ktmsamachar@gmail.com")
									img( src="/images/advert1.jpg") 
							-} 
		
		.row
			.col-sm-9
				if(higestNews.length >9)
					.nextButton.text-center(style="padding-bottom:20px")
						button.btn.btn-primary.nextButtonClass(type='button' id="0") थप #{higestNews[0].newsCategory.name}का  खबरहरु
			.col-sm-3
		.clearfix
		.row
			.landscapeAdvert
				if(advertData.length >0)
					each item, index in advertData
							if(advertData[index].category.name === newsData[0].newsCategory.name && item.position >=100 && item.position < 1000 && item.publish) 
								.col-sm-3
									if(item.website === "null")
										img(src="#{advertData[index].picture}")
										
									else
										if(item.publish)
											a(href="#{item.website}" target="ext")
												img(src="#{advertData[index].picture}")
							else
								a(href="#{item.website}" target="ext")
									//img( src="/images/advert1.jpg")
		.row     
	footer
		.container
			.row
				.col-md-4
					span.copyright Address:  Kalanki -14, Kathmandu, Nepal
					br
					span.copyright Phone: +977-1-4032177
					br
					span.copyright Design: 
						a(href="http://visiongroupnepal.com" target="") visiongroupnepal.com
					.fb-page(data-href='https://www.facebook.com/newsenepalktm', data-width='340', data-hide-cover='false', data-show-facepile='true')
				.col-md-4
					ul.list-inline.social-buttons
						//li
						//	a(href='https://twitter.com/ktm_samachar?lang=en' target="ext")
						//		i.fa.fa-twitter
						li
							a(href='https://www.facebook.com/newsenepalktm/?fref=ts' target="ext")
								i.fa.fa-facebook
					//span.copyright Editor in Chief: Madhukar Adhikari
					br
					a(href="/member", target="ext") Team
					br
					span.copyright Copyright @ Newsenepal 2016
				.col-md-4
					
					.mailingAddress(style="float: center; padding-left: 20px;")
						.col-sm-1
							span.contactInfo 
								i.fa.fa-envelope-o.fa-2x
						p 
							a(href="mailto:newsenepal2017@gmail.com") Newsenepal
						//p 
						//	a(href="mailto:article.ktmsamachar@gmail.com") article.ktmsamachar@gmail.com
						//p
						//	a(href="mailto:ktmsamachar@gmail.com") ktmsamachar@gmail.com
				.clearfix
				label.pageCounter
	a( href="#0" class="cd-top") Top
	script(src="/javascripts/js/backToTop.js")
	script var newsData = !{JSON.stringify(newsData)};
	script.
		$('.nextButtonClass').click(function(e){
			e.preventDefault();
			var pageNumber = $(this).attr('id');
			
			//alert(pageNumber);
			pageNumber++; 
			$.ajax({
				url:'/news/'+newsData[0].newsCategory.name + '?page='+pageNumber,
				type:'get',
				dataType:'json',
				success:function(data){
					$('.nextButtonClass').attr('id',pageNumber);
					
					//we append the data to the page
					var myData = '';
					for(var i = 0;i<data.length;i++){
						var divData = '<div class="thumbnail selectedCategoryDiv">';
						divData += '<h2> <a href="/news/' + data[0].newsCategory.name + '/'+data[i]._id + '" >' + data[i].newsTitle + ' </a></h2></div>';
						myData += divData;
					}
					$('.categoryNews').append(myData);
				},
				error:function(err){ alert('something went wrong, please try again.')}
			});
			 
		});
	script. 
			if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
			var unit = {"calltype":"async[2]","publisher":"binits016","width":550,"height":250,"sid":"Chitika Default","color_button":"803f80","color_button_text":"331533"};
			var placement_id = window.CHITIKA.units.length;
			window.CHITIKA.units.push(unit);
			document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>'); 
		
	script(type='text/javascript', src='//cdn.chitika.net/getads.js', async='')
	//script(data-cfasync="false" src="//d1gp9nlx229wzz.cloudfront.net/?lnpgd=612327")