extends layout

block content 
	script var categoryData = !{JSON.stringify(categoryData)};
	include header.jade
	script(type='text/javascript', src='https://www.google.com/jsapi')
	script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
	script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-589741f9b915b78c')
	script.
		var switchTo5x=true;
		stLight.options({publisher: "6fa3f31f-0b02-43c1-9b92-f643e294f343", doNotHash: false, doNotCopy: false, hashAddressBar: false});
		$(document).ready(function() {
			$(".dottedListSelectedNews").niceScroll({cursorborder:"",cursorcolor:"#b9b9b9", touchbehavior:true});
			var stickyNavTop = $('.myMenu').offset().top;
	
			var stickyNav = function(){
			var scrollTop = $(window).scrollTop();
			    
			if (scrollTop > stickyNavTop) { 
			  $('.myMenu').addClass('sticky');
			} else {
			  $('.myMenu').removeClass('sticky'); 
			}
			};
			stickyNav();
			$(window).scroll(function() {
				stickyNav();
			});
		}); 
		google.load("elements", "1", {
			packages: "transliteration"
		});
		function onLoad() {
			var options = {
			sourceLanguage:
			google.elements.transliteration.LanguageCode.ENGLISH,
			destinationLanguage:
			[google.elements.transliteration.LanguageCode.NEPALI],
			shortcutKey: 'ctrl+g',
			transliterationEnabled: true
			};
			var control = new google.elements.transliteration.TransliterationControl(options); 
				control.makeTransliteratable(['transliterateTextarea']);
		}
		google.setOnLoadCallback(onLoad); 
	.newsContainer   
		.row  
			.advertDiv.col-sm-12
				each item, index in advertData 
						if(advertData[index].category.name === newsData[0].newsCategory.name && item.position <=20 && item.publish==="true") 
							if(item.website === "null")
								img(src="#{advertData[index].picture}")
							else
								a(href="#{item.website}" target="ext")
									img(src="#{advertData[index].picture}")
			.col-sm-9  
				ul
					li
						each item in newsData
							.thumbnail.selectedNews.remainingNews1(style="width:100%")
								.authorImg.col-sm-2.text-center(style="padding-top: 20px;")
									-if(item.newsWriter)
										-if(item.newsWriterImg)
											img.newsImage(src=item.newsWriterImg style="width:100px; height: 100px;")
											b #{item.newsWriter}
										-else
											b #{item.newsWriter}
									-else
										if(item.writer)
											if(item.writer.photoUrl)
												img.newsImage(src=item.writer.photoUrl  )
												b #{item.writer.fullName}
											else
												h6 #{item.writer.fullName}	
									
								.myNewsTitle.col-sm-10
									h1  #{item.newsTitle}
								.clearfix
								hr
								if(item.newsContent[0].newsContent.toString().indexOf('<p>')>-1)
									| !{item.newsContent[0].newsContent }  	 
								else 
									p(style="white-space:pre-wrap;") !{item.newsContent[0].newsContent }
								hr
								.extraInfo(style="font-size: 0.75em;text-align: left; ")
								a(style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
									span
										i.fa.fa-bullseye  #{item.counter+1000}
								a( style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
									span(style="margin-left:30px")
										i.fa.fa-comments  #{item.comments.length}
								a( style="color:lightgray;" href="/news/#{item.newsCategory.name}/#{item._id}")
									span(style="margin-left:30px")
										i.fa.fa-newspaper-o   #{item.createdAt.toLocaleDateString()} @ #{item.createdAt.toString().slice(16,21)}
								.socialMedia(style="float:right") 
									//span.st_facebook_hcount(displaytext='Facebook')
									//span.st_twitter_hcount(displaytext='Tweet')
									.addthis_inline_share_toolbox
					li
						.thumbnail.col-sm-12
							
							.breakingNewsLeftSection.col-sm-6
								if(locationNewsData)
									.categoryHeading
										h4
											p(style="color:white") #{locationNewsData[0].locationName} वरपरका खबरहरु 
									ul.dottedListSelectedNews.noImgDiv
										each item, index in locationNewsData 
											li
												a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
							.breakingNewsLeftSection.col-sm-6 
								if(writerNewsData)
									.categoryHeading
										h4
											p(style="color:white") !{writerNewsData[0].writer.fullName} द्वारा लिखित अन्य खबरहरु  
									ul.dottedListSelectedNews.noImgDiv
										each item, index in writerNewsData 
											li
												if(newsData[0].newsTitle === item.newsTitle)
												else
													a(href="/news/#{item.newsCategory.name}/#{item._id}" style="color:#066bb2") #{item.newsTitle}
			.advertisement.col-sm-3 
				if(advertData.length >0)
					- console.log(advertData)
					each item, index in advertData
						if(advertData[index].category.name === newsData[0].newsCategory.name && item.position >20 && item.position < 100 && item.publish==="true") 
							if(item.website === "null")
								img(src="#{advertData[index].picture}")
							else
								a(href="#{item.website}" target="ext")
									img(src="#{advertData[index].picture}")
								br
								| 
					-var imgCount = advertData.length;
					-if(imgCount == 0) imgCount = 0
					-else imgCount = imgCount -1
					-for(var i=imgCount;i<10;i++){
						a(href="mailto:binits09@gmail.com")
							img( src="/images/advert1.jpg") 
					-}
		.row
			.selectedCategory.col-sm-12  
				img.myAdvert(src="/images/victc.gif")    
		.row 
			selectedCategory.col-sm-12
				.thumbnail(style="display:block") 
					h3 तपाईका प्रतिक्रियाहरु
					ul.commentList 
						each item, index in newsData[0].comments
							if(item.publish)
								li
									span 
										i.fa.fa-user
										strong   #{item.commentUser.name}   जी लेख्नुहुन्छ :  
										|     #{item.comment}
									br
									.likeDislikeSeciton
										button.btn.btn-primary.likeButton(type="button" id="#{index}")
											span
												i.fa.fa-heart
										label.likeCount(style="margin-left:5px" id="#{index}" ) #{item.likesCount}
										button.btn.btn-warning.dislikeButton(type="button" style="margin-left:40px;" id="#{index}")
											span
												i.fa.fa-thumbs-down
										label.dislikeCount(style="margin-left:5px" id="#{index}") #{item.dislikesCount}
					.commentFormDiv
						form.form-horizontal.submitComment
							.form-group
								.col-sm-offset-1.col-sm-5
									input.form-control(type="text" name='name' placeholder="कुनै नाम" required max-length='30')
								.col-sm-offset-1.col-sm-5
							
							.form-group
								.col-sm-offset-1.col-sm-5
									input.form-control(type="email" name='email', placeholder="इमेल ठेगाना प्रकाशित हुनेछैन " required  max-length="20")
								.col-sm-offset-1.col-sm-5
							h4 नेपाली टाईप गर्नको लागि (Press Ctrl+g to toggle between English and Nepali)
							.form-group
								.col-sm-offset-1.col-sm-11
									textarea.form-control#transliterateTextarea(name="comment", rows="5" required)
							.form-group
								.col-sm-offset-1.col-sm-11
									input(type="hidden")
									.g-recaptcha(data-sitekey='6LeOShQUAAAAAHX5hYQpxKS8jCPY5PY9LDbSKhqi' data-callback="capcha_filled" data-expired-callback="capcha_expired")
							.form-group
								.col-sm-offset-1.col-sm-11
									button.btn.btn-primary(type="submit") पोस्ट
									input(type="hidden" name="newsId" value="#{newsData[0]._id}") 
									input(type="hidden" name="commentId" )
									input(type="hidden" name="formType")
									input(type="hidden" name="likeCounter")
									input(type="hidden" name="dislikeCounter")
		.row
			.landscapeAdvert
				if(advertData.length >0)
					each item, index in advertData
							if(advertData[index].category.name === newsData[0].newsCategory.name && item.position >=100 && item.publish && item.position <100) 
								.col-sm-3
									if(item.website === "null")
										img(src="#{advertData[index].picture}")
										
									else
										a(href="#{item.website}" target="ext")
											img(src="#{advertData[index].picture}")
							else
								a(href="#{item.website}" target="ext")
									//img(src="#{advertData[index].picture}")
							
						
							
	
	.clearfix      
	h6 Advertisements
	script. 
		if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
		var unit = {"calltype":"async[2]","publisher":"binits016","width":550,"height":250,"sid":"Chitika Default","color_button":"803f80","color_button_text":"331533"};
		var placement_id = window.CHITIKA.units.length;
		window.CHITIKA.units.push(unit);
		document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
		section=1000185505;timer=0;popTimes=3;channel=10;
	footer
		.container
			.row
				.col-md-4
					span.copyright Address:  Kalanki -14, Kathmandu, Nepal
					br
					span.copyright Phone: +977-1-4032177
					br
					span.copyright Design: 
						a(href="http://visiongroupnepal.com" target="") visiongroupnepal.com
					.fb-page(data-href='https://www.facebook.com/newsenepalktm', data-width='340', data-hide-cover='false', data-show-facepile='true')
				.col-md-4
					ul.list-inline.social-buttons
						//li
						//	a(href='https://twitter.com/ktm_samachar?lang=en' target="ext")
						//		i.fa.fa-twitter
						li
							a(href='https://www.facebook.com/newsenepalktm/?fref=ts' target="ext")
								i.fa.fa-facebook
					//span.copyright Editor in Chief: Madhukar Adhikari
					br
					a(href="/member", target="ext") Team
					br
					span.copyright Copyright @ Newsenepal 2016
				.col-md-4
					
					.mailingAddress(style="float: center; padding-left: 20px;")
						.col-sm-1
							span.contactInfo 
								i.fa.fa-envelope-o.fa-2x
						p 
							a(href="mailto:newsenepal2017@gmail.com") Newsenepal
						//p 
						//	a(href="mailto:article.ktmsamachar@gmail.com") article.ktmsamachar@gmail.com
						//p
						//	a(href="mailto:ktmsamachar@gmail.com") ktmsamachar@gmail.com
				.clearfix
				label.pageCounter
	a( href="#0" class="cd-top") Top
	script(src="/javascripts/js/backToTop.js")
	script var newsData = !{JSON.stringify(newsData)};
	script(src="/javascripts/comment.js")
	script(src='https://www.google.com/recaptcha/api.js')
	//script(type='text/javascript', src='//go.oclaserver.com/apu.php?zoneid=734486')
		
	script(type='text/javascript', src='//cdn.chitika.net/getads.js', async='')
	//script(src='http://js.srcsmrtgs.com/js/interstitial_layer.js')
	//script(data-cfasync="false" src="//dylasklmlxige.cloudfront.net/?salyd=612327")
	