extends layout
block content 
    br
    .container
        .row
            .col-sm-6.well.createRoleDiv(style="display:none")
                legend Create New Role
                 
                form.roleForm.form-horizontal
                  .form-group
                    label.col-sm-3.control-label(for='inputEmail3') Role Type
                    .col-sm-9
                      input#inputEmail3.form-control(type='text', placeholder='typist' name="roleType" required)
                  .form-group
                    .col-sm-offset-3.col-sm-9
                      button.btn.btn-default.closeCreateRoleFormDiv(type='button' ) Close
                      button.btn.btn-default(type='submit' ) Create
            .col-sm-1
            .clearfix
            .col-sm-5.well.createUserDiv(style="display:none")
                h2 Create New User
                form.userForm.form-horizontal(method="post" )
                  .form-group
                    label.col-sm-3.control-label(for='inputEmail3') Username
                    .col-sm-9
                      input#inputEmail3.form-control(type='text', placeholder='username' name="userName" required )
                  .form-group
                    label.col-sm-3.control-label(for='inputPassword3') Password
                    .col-sm-9
                      input#inputPassword3.form-control(type='password', placeholder='Password', name="userPassword" required)
                  .form-group
                    label.col-sm-3.control-label(for='inputPassword3') Re password
                    .col-sm-9
                      input#inputPassword3.form-control(type='password', placeholder='re-password', name="rePassword" required)

                  .form-group
                    label.col-sm-3.control-label(for='inputPassword3') Role
                    .col-sm-9
                      select#gradeSelection.form-control(name="roleType" required)
                                    option(value="null") ---- select ----
                                    each item in roles
                                        option(value="#{item._id}") #{item.roleType} 
                  .form-group
                    label.col-sm-3.control-label(for='memberName') Active
                    .col-sm-9
                        select#publishSelection.form-control(name="active" required)
                            option(value="1") Yes
                            option(value="0") No
                  .form-group
                    .col-sm-offset-3.col-sm-9
                      utton.btn.btn-default.closeCreateUserFormDiv(type='button' ) Close
                      button.btn.btn-default(type='submit') Create
            .clearfix
            .col-lg-6 
                 .userList
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title
                          | User List
                          button(type="button" class='btn btn-primary addUserButton' style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
                      .panel-body
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped
                            thead
                              tr
                                th Sn #
                                th Name 
                                th Role
                                th Created At  
                                th Action
                            each item, index in users
                             tr 
                              td=index+1
                              td=item.name
                              td=item.role.roleType
                              td=item.createdAt.toISOString().slice(0,10)
                              td
                               a(href="#" class="editUserButtonClass" data-target="#editRole" data-toggle="modal" id="#{index}") Edit
            .col-lg-6 
                 .roleList
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title
                          | Role List
                          button(type="button" class='btn btn-primary addRoleButton' style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
                      .panel-body
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped
                            thead
                              tr
                                th Sn #
                                th Role 
                                th Created At  
                                th Action
                            each item, index in roles
                             tr 
                              td=index+1
                              td=item.roleType
                              td=item.createdAt.toISOString().slice(0,10)
                              td
                               a(href="#" class="editRoleButtonClass" data-target="#editRole" data-toggle="modal" id="#{index}") Edit
            a(href="/login/out") OUT
    script(src='/javascripts/js/validate.js')
    script(src='/javascripts/superUser.js')