extends dashboardLayout
block content
 #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin') KTMSamachar
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  #{user}
              b.caret
            ul.dropdown-menu
              li
                a(href='/login/out')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/otherUser')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard 
            li
              a(href='/news/addNews')
                i.fa.fa-newspaper-o
                |  News
            li
              a(href='/news/comments')
                i.fa.fa-money
                |  Comments
            li
              a(href='/advertisement')
                i.fa.fa-money
                |  Advertisements
            li.active
              a(href='/writer')
                i.fa.fa-users
                |  Writers 
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Add Writers    
          .row
            .col-sm-12
              .CategoryList
                    .panel.panel-default
                      .panel-heading
                        h3.panel-title
                          | Recently Added Writer List
                          button(type="button" class='btn btn-primary addAdvertisement'  style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
                      .panel-body
                        .table-responsive
                          table.table.table-bordered.table-hover.table-striped.recentlyAddedNewsListTable
                            thead
                              tr 
                                th Full Name
                                th Joined At
                                th Action
                            each item, index in advertisementData
                             tr  
                              td=item.fullName
                              td=item.createdAt.toISOString().slice(0,10) 
                              td
                               a(href="#" class="editNewsClass" id="#{index}") Edit  
                              // | |  
                              // a(href="#" class="editContactClass" id="#{index}" ) Edit Contact
                       
                      .col-sm-12(style="padding-top:5px;padding-bottom:10px ") 
                          .col-sm-1.col-xs-1
                            .arrowRight(style='height:25px;width:25px; background:#CFC3C3;padding: 5px 5px 5px 5px;margin-left: -30px; display:none;  ')
                              i.fa.fa-arrow-left
                          .col-sm-10.col-xs-10
                          .col-sm-1.col-xs-1
                            .arrowLeft(style='height:25px;width:25px; background:#CFC3C3;padding: 5px 5px 5px 5px; float:right;  margin-right: -30px; display:none; ')
                              i.fa.fa-arrow-right
                              input(name='arrowLeft', value='0', type='hidden')
                               
          .row
            .col-lg-12.editNewsDiv(style="display:none")
             .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Edit Advertisement
                    //button(type="button" class='btn btn-primary addContentForNewsButton', onclick="addContentForNews()"  style="float:right;margin-top:-5px" )
                     //i.fa.fa-plus
                .panel-body
                  form.form-horizontal.editContentForAdvertisementForm
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Category
                      .col-sm-10
                          select#publishSelection.form-control(name="category" required multiple)
                            each item in categoryData  
                              option(value="#{item._id}") #{item.name}
                              
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Full Name
                      .col-sm-10
                        input.form-control(type="text" name="fullName"  required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Image URL
                      .col-sm-10
                         input.form-control(type='text', name='photoUrl'  )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Active
                      .col-sm-10
                         select#publishSelection.form-control(name="status" required ) 
                          option(value="1") Yes
                          option(value="0") No
                    .form-group.formSubmit
                      .col-sm-offset-2.col-sm-10
                         
                        button.btn.btn-default.closeAddNewsDiv(type='button'  ) Close 
                        button.btn.btn-primary(type='submit' style="margin-left:20px") Edit
                        input(type="hidden" name="advertisementId") 
          .row
            .col-lg-12.addNewsDiv(style="display:none")
             .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Content
                    //button(type="button" class='btn btn-primary addContentForNewsButton', onclick="addContentForNews()"  style="float:right;margin-top:-5px" )
                     //i.fa.fa-plus
                .panel-body
                  form.form-horizontal.addAdvertisementForm
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Category
                      .col-sm-10
                          select#publishSelection.form-control(name="category" required multiple)
                            each item in categoryData  
                              option(value="#{item._id}") #{item.name}
                              
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Full Name
                      .col-sm-10
                        input.form-control(type="text" name="fullName"  required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Image URL
                      .col-sm-10
                         input.form-control(type='text', name='photoUrl'   )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Contact Phone
                      .col-sm-10
                         input.form-control(type='text', name='phone'    )
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Email
                      .col-sm-10
                         input.form-control(type='text', name='email')
                    .form-group.formSubmit
                      .col-sm-offset-2.col-sm-10
                         
                        button.btn.btn-default.closeAddNewsDiv(type='button'  ) Close 
                        button.btn.btn-primary(type='submit' style="margin-left:20px") Add 
                     
                //.panel-footer
                   .col-sm-offset-11
                      button.btn.btn-primary.addNewsSubmitButton(type='submit' ) Add

                //.clearfix
          .row
            .col-lg-12.editContact(style="display:none")
             .panel.panel-default
                .panel-heading
                  h3.panel-title
                    | Edit Contact
                .panel-body
                  form.form-horizontal.editContactForm          
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Contact Name
                      .col-sm-10
                         input.form-control(type='text', name='name'   required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Contact Phone
                      .col-sm-10
                         input.form-control(type='text', name='phone'   required)
                    .form-group
                      label.col-sm-2.control-label(for='memberName') Email
                      .col-sm-10
                         input.form-control(type='text', name='email'   )
                    .form-group.formSubmit
                      .col-sm-offset-2.col-sm-10
                         
                        button.btn.btn-default.closeAddNewsDiv(type='button'  ) Close 
                        button.btn.btn-primary(type='submit' style="margin-left:20px") Edit
                        input(type="hidden" name="contactId") 
      script var categoryData = !{JSON.stringify(categoryData)}; 
      script var advertisementData = !{JSON.stringify(advertisementData)};
      script(src='/javascripts/js/bootstrap.min.js')
      script(src='/javascripts/js/validate.js')
      script(src='/javascripts/writer.js')

