body{background-color: #f4f4f4;overflow-x:hidden;font-family: 'utsaahregular',"Open Sans","Helvetica Neue",
Helvetica,Arial,sans-serif}.text-muted{color:#777}.text-primary{color:#2fde8f}p{
    font-size:14px;line-height:1.75}p.large{font-size:16px}a,a:hover,a:focus,a:active,a.active{
        outline:0}a{color:#2fde8f}a:hover,a:focus,a:active,a.active{color:#2fde8f}h1,
        h2,h3,h4,h5,h6{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform:uppercase;font-weight:700}.img-centered{margin:0 auto}.bg-light-gray{
            background-color:#f7f7f7}.bg-darkest-gray{background-color:#222}.btn-primary{
                color:#fff;background-color:#2fde8f;border-color:#2fde8f;
                font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
                text-transform:uppercase;font-weight:700}.btn-primary:hover,
                .btn-primary:focus,.btn-primary:active,.btn-primary.active,.open
                .dropdown-toggle.btn-primary{color:#fff;background-color:#2fde8f;
                border-color:#f6bf01}.btn-primary:active,.btn-primary.active,.open
                .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,
                .btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary
                .disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled]
                .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#2fde8f;border-color:#2fde8f}.btn-primary .badge{color:#2fde8f;background-color:#fff}.btn-xl{color:#fff;background-color:#2fde8f;border-color:#2fde8f;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;border-radius:3px;font-size:18px;padding:20px 40px}.btn-xl:hover,.btn-xl:focus,.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{color:#fff;background-color:#2fde8f;border-color:#f6bf01}.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{background-image:none}.btn-xl.disabled,.btn-xl[disabled],fieldset[disabled] .btn-xl,.btn-xl.disabled:hover,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl:hover,.btn-xl.disabled:focus,.btn-xl[disabled]:focus,fieldset[disabled] .btn-xl:focus,.btn-xl.disabled:active,.btn-xl[disabled]:active,fieldset[disabled] .btn-xl:active,.btn-xl.disabled.active,.btn-xl[disabled].active,fieldset[disabled] .btn-xl.active{background-color:#2fde8f;border-color:#2fde8f}.btn-xl .badge{color:#2fde8f;background-color:#fff}
                
                .navbar-default{background-color:#222;border-color:black}
                .navbar-default
                .navbar-brand{color:#2fde8f;font-family:"Kaushan Script","Helvetica Neue",
                Helvetica,Arial,cursive}.navbar-default
                .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default
                .navbar-brand:active,.navbar-default .navbar-brand.active{color:#2fde8f}
                .navbar-default .navbar-collapse{border-color:rgba(255,255,255,.02)}
                .navbar-default .navbar-toggle{background-color:#2fde8f;border-color:#2fde8f}
                .navbar-default .navbar-toggle .icon-bar{background-color:#fff}.navbar-default
                .navbar-toggle:hover,.navbar-default
                .navbar-toggle:focus{background-color:#2fde8f}.navbar-default
                .nav li a{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,
                sans-serif;text-transform:uppercase;font-weight:400;letter-spacing:1px;color:#fff}.navbar-default .nav li a:hover,.navbar-default 
                .nav li a:focus{color:#2fde8f;outline:0}.navbar-default 
                .navbar-nav>.active>a{border-radius:0;color:#fff;background-color:#fc7303}.navbar-default .navbar-nav>.active>a:hover,.navbar-default 
                .navbar-nav>.active>a:focus{color:#fff;background-color:#2fde8f}
                @media (min-width:768px){
		    /*.selectedNews img:hover{ -webkit-transform:scale(1.25);*/ /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
     -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
     }		    
		    .dottedListSelectedNews {  max-height:500px;}
		    .newsContainer { margin-left: 20px; padding-left: 20px; padding-right:20px;  }
		    /*.remainingNews{min-width: 1100px; max-width: 1200px;} */
		    .remainingNews img {max-width: 600px;max-height: 450px;}
		    .remainingNews1 img {max-width: 860px; }
		    /*.remainingNews p {max-width: 750px;max-height: 450px; min-width: 750px;}*/
		    .advertDiv p{width:100%; max-width: 1200px}
		    .advertDiv img{width:100%; max-width: 1200px}
		    .wrap-text img{ 
		        width: 100%;
			max-width: 1200px;
		     /*max-height: 600px; */
		    }
		    /*.wrap-text   p img{ max-width: 750px; }*/
		    .newsIndexing {max-heigh:500px;} 
		    
		    .selectedCategoryDiv{padding: 10px 20px;font-size: 1.7em;max-width:900px;min-width: 900px}
		    .selectedCategoryDiv img{max-width:800px; }
		    /*.breakingNews { min-width: 1100px; max-width: 1200px;} */	   
		    .breakingNews{padding: 10px 20px;font-size: 1.7em;/*max-width:1200px;*/}	 
                    .navbar-default{background-color:black;padding:0;-webkit-transition:padding .3s;-moz-transition:padding
                    .3s;transition:padding .3s;border:0}.navbar-default
                    .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-default .navbar-nav>.active>a{border-radius:3px}
                    .navbar-default.navbar-shrink{background-color:#222;padding:0}.navbar-default.navbar-shrink .navbar-brand{font-size:1.5em}}header{
                    background-image:url('https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/296474_242166529151832_7559301_n.jpg?oh=46ac446841ac2edcaf538b797cd0c5f4&oe=57253B12');background-repeat:none;background-attachment:scroll;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;text-align:center;color:#fff}header .intro-text{padding-top:100px;padding-bottom:50px}header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:22px;line-height:22px;margin-bottom:25px}header .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:50px;line-height:50px;margin-bottom:25px}@media (min-width:768px){header .intro-text{padding-top:300px;padding-bottom:200px}header .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}header .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px}}section{padding:60px 0}section h2.section-heading{font-size:40px;margin-top:0;margin-bottom:15px}section h3.section-subheading{font-size:16px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:none;font-style:italic;font-weight:400;margin-bottom:75px}@media (min-width:768px){section{padding:60px 0}}.service-heading{margin:15px 0;text-transform:none}#portfolio .portfolio-item{margin:0 0 15px;right:0}#portfolio .portfolio-item .portfolio-link{display:block;position:relative;max-width:400px;margin:0 auto}#portfolio .portfolio-item .portfolio-link .portfolio-hover{background:rgba(254,209,54,.9);position:absolute;width:100%;height:100%;opacity:0;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s}#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover{opacity:1}#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content{position:absolute;width:100%;height:20px;font-size:20px;text-align:center;top:50%;margin-top:-12px;color:#fff}#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i{margin-top:-12px}#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4{margin:0}#portfolio .portfolio-item .portfolio-caption{max-width:400px;margin:0 auto;background-color:#fff;text-align:center;padding:25px}#portfolio .portfolio-item .portfolio-caption h4{text-transform:none;margin:0}#portfolio .portfolio-item .portfolio-caption p{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px;margin:0}#portfolio *{z-index:2}@media (min-width:767px){#portfolio .portfolio-item{margin:0 0 30px}}.timeline{list-style:none;padding:0;position:relative}.timeline:before{top:0;bottom:0;position:absolute;content:"";width:2px;background-color:#f1f1f1;left:40px;margin-left:-1.5px}.timeline>li{margin-bottom:50px;position:relative;min-height:50px}.timeline>li:before,.timeline>li:after{content:" ";display:table}.timeline>li:after{clear:both}.timeline>li .timeline-panel{width:100%;float:right;padding:0 20px 0 100px;position:relative;text-align:left}.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li .timeline-image{left:0;margin-left:0;width:80px;height:80px;position:absolute;z-index:100;background-color:#2fde8f;color:#fff;border-radius:100%;border:7px solid #f1f1f1;text-align:center}.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:14px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 100px}.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li:last-child{margin-bottom:0}.timeline .timeline-heading h4{margin-top:0;color:inherit}.timeline .timeline-heading h4.subheading{text-transform:none}.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}@media (min-width:768px){.timeline:before{left:50%}.timeline>li{margin-bottom:100px;min-height:100px}.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}.timeline>li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}}@media (min-width:992px){.timeline>li{min-height:150px}.timeline>li .timeline-panel{padding:0 20px 20px}.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}}@media (min-width:1200px){.timeline>li{min-height:170px}.timeline>li .timeline-panel{padding:0 20px 20px 100px}.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}.timeline>li .timeline-image h4{margin-top:40px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 100px 20px 20px}}.team-member{text-align:center;margin-bottom:50px}.team-member img{margin:0 auto;border:7px solid #fff}.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}.team-member p{margin-top:0}aside.clients img{margin:50px auto}
                    
                    section#contact{background-color:#f1f1f1;/*background-image:url(/public/images/img/map-image.png)*/;background-position:center;background-repeat:no-repeat}
                    section#contact .section-heading{color:#fff}section#contact .form-group{margin-bottom:25px}section#contact .form-group input,section#contact .form-group textarea{padding:20px}section#contact .form-group input.form-control{height:auto}section#contact .form-group textarea.form-control{height:236px}section#contact .form-control:focus{border-color:#2fde8f;box-shadow:none}section#contact ::-webkit-input-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact :-moz-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact ::-moz-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact :-ms-input-placeholder{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;color:#bbb}section#contact .text-danger{color:#e74c3c}
                    footer{background:#2F4F4F;padding:25px 0;text-align:center}footer span.copyright{line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none;color:white;}
                    footer ul.quicklinks{margin-bottom:0;line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}ul.social-buttons{margin-bottom:0}ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
                    ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#2fde8f}.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:0}.portfolio-modal .modal-content{border-radius:0;background-clip:border-box;-webkit-box-shadow:none;box-shadow:none;border:0;min-height:100%;padding:100px 0;text-align:center}.portfolio-modal .modal-content h2{margin-bottom:15px;font-size:3em}.portfolio-modal .modal-content p{margin-bottom:30px}.portfolio-modal .modal-content p.item-intro{margin:20px 0 30px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:16px}.portfolio-modal .modal-content ul.list-inline{margin-bottom:30px;margin-top:0}.portfolio-modal .modal-content img{margin-bottom:30px}.portfolio-modal .close-modal{position:absolute;width:75px;height:75px;background-color:transparent;top:25px;right:25px;cursor:pointer}.portfolio-modal .close-modal:hover{opacity:.3}.portfolio-modal .close-modal .lr{height:75px;width:1px;margin-left:35px;background-color:#222;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);z-index:1051}.portfolio-modal .close-modal .lr .rl{height:75px;width:1px;background-color:#222;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1052}.portfolio-modal .modal-backdrop{opacity:0;display:none}::-moz-selection{text-shadow:none;background:#2fde8f}::selection{text-shadow:none;background:#2fde8f}img::selection{background:0 0}img::-moz-selection{background:0 0}body{webkit-tap-highlight-color:#2fde8f}
 					footer span.contactInfo{line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none;color:white;}
 @media (max-width:768px){
    .navbar-header img{max-width:320px;}
 		.myAdvert{width: 350px; height:100px; display:none}
                /*.newsImage{width: 390px; height:400px;}*/
    .breakingNews{
	 padding: 10px 20px;
	 font-size: 1.7em;
	 max-width:500px;
	 min-width:300px
	}
    .breakingNews img{
	 min-width:200px;
	 max-width: 300px;
	}
    .remainingNews{min-width: 320px; max-width: 340px;}
    .remainingNews img {max-width: 300px; }
    .remainingNews1 img {max-width: 300px; }
    .remainingNews p {max-width: 400px;}
    .landscapeAdvert {max-width:310px;}
    .newsContainer { margin-left: 0px; padding-left: 10px; padding-right:10px; }
    .selectedNews{ min-width: 320px; max-width: 340px;}
    .selectedNews img{ max-width:300px;width:100%; max-height:250px; height:100% }
    .categoryDiv img{max-width:300px; max-height: 300px}
    .advertDiv img{max-width:300px; max-height: 300px}
    .dottedListSelectedNews {
	 
    max-height:280px;
     
}
}

@media (min-width: 1200px)  {
    .wrap-text img{
	/*max-width: 1200px;max-height: 450px; */
	}
   .remainingNews {width: 100%; }
   /*.wrap-text img   {min-width:1000px; max-width:1200px; max-height:700px}*/
   .dottedListSelectedNews {
	 
    max-height:700px;
     
}

    .remainingNews1 img {
	max-width: 860px;
	}
    
}
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}
/* Contact
---------------------------------*/

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 700;
}
.main-section.contact{
	padding:90px 0 100px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
	font-size:15px;
	/*margin:0 0 14px 68px;*/
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#7cc576;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #111;
	color: #fff;
}

.servicesDescription{ 
    /*float: left;*/
    padding:0px;
    width: 100%;
        padding-left: 10px;
}
.servicesDescription ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    color: #555;
    padding: 15px 0;
    text-align: left;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.servicesDescription ul li:last-child {
    border: none;
}
.servicesDescription ul li {
    border-bottom: 1px solid #ccc;
    color: #555;
    padding: 15px 0;
}
.tuitionDescription ul li {
    border-bottom: 1px solid #ccc;
    color: #555;
    padding: 8px 5px 5px 5px;
}
.serviceDescriptionText{
    text-align: justify;
}
.serviceDescriiptionJoinButton { 
    width: 100%;
}
.serviceDescription-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: -10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.block{
    background-color: #f7f7f7; 
}

.thumbnail1{
	line-height: 1.7;
	/*display: inline-block;*/
border-radius: 0;
border: 0;
padding: 20px;
margin-bottom: 25px;
background: #fff;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
transition: all .2s ease-in-out;
}
.thumbnail{
	line-height: 1.7;
	display: inline-block;
border-radius: 0;
border: 0;
padding: 20px;
margin-bottom: 25px;
background: #fff;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
transition: all .2s ease-in-out;
}



.menuList{
	margin-left: 20px;
} 
ul.nav > li:first-child a {
    background: url(/images/home-icon.png) no-repeat left top;  
    width: 60px;
    height: 50px;
    text-indent: -9999px;
     
}
 
/* breakingNews */
.breakingNewsDiv {
	padding-top: 20px; 

}

.breakingNews h1{
	 	font-weight: bold;
    	line-height: 2em;
    	text-align: center;
    	font-size: 1.5em;
	 }

.wrap-text{

	color: #777;
    font-size: 2em;
    line-height: 1.3em;
}
.wrap-text   p{
	 	 
    	line-height: 2em;
    	font-size: 0.35em;
    	padding-top: 15px;
	 }
 
/* landscape advertisement */
.landscapeAdvert{
	 
	 padding-bottom: 10px;

}
.myMenu ul li{
   text-align: left;

}
.myMenu ul li:hover{
    background-color: #fc7303;

}

/* selected category page */
.myAdverts{
	padding-left: 30px;
}
.socialMedia{
	padding-bottom: 10px;
}

.breakingNewsRightSection{
	padding-top: 10px;
	/*max-height: 300px;*/
}

.breakingNewsLeftSection{
	padding-top: 10px;
}
.breakingNewsRemainingList {
	 padding-left: 0;
    list-style: none;
    max-height:500px;
}
.breakingNewsRemainingList li {
    border-bottom: 1px solid #b9b9b9;
    padding: 0 0 20px 5px;
    -webkit-transform: translateZ(0);
}

.breakingNewsRemainingList img {
     display:block;
     max-width:50px;
     max-height:50px;
     float:left;
}

.breakingNewsRemainingList  li:last-child {
    border: none;
}
.dottedList {
	 padding-left: 0;
	 padding-top:5px;
    list-style: none;
    /*max-height:280px;*/
    display:block;
}
.dottedList li {
    border-bottom: 1px dotted #b9b9b9;
    padding: 0 0 20px 5px;
    -webkit-transform: translateZ(0);
    padding: 10px;
}

.dottedList img {
     display:none;
}

.dottedList  li:last-child {
    border: none;
}

.dottedList a{ 
    font-size: 1.2em;
    display: block;
}
.dottedList li:hover{
    background-color: lightgray;

}
.dottedList  li:first-child:hover {
     background-color: white;
}




.dottedListSelectedNews {
	 padding-left: 0;
	 padding-top:5px;
    list-style: none;
     
    display:block;
}
.dottedListSelectedNews li {
    border-bottom: 1px dotted #b9b9b9;
    padding: 0 0 20px 5px;
    -webkit-transform: translateZ(0);
    padding: 10px;
}

.dottedListSelectedNews img {
     display:none;
}

.dottedListSelectedNews  li:last-child {
    border: none;
}

.dottedListSelectedNews a{ 
    font-size: 1.2em;
    display: block;
}
.dottedListSelectedNews li:hover{
    background-color: lightgray;

}
.dottedListSelectedNews  li:first-child:hover {
     background-color: white;
}
.breakingList{
	 /*padding: 10px 20px;*/
	 max-height: 310px;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.myMenu li.active {
     background-color: rgb(252, 115, 3);

}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(252, 115, 3);
}

.newsImage{
    max-height: 600px;
    	
}

/* block quotes */
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid rgb(252, 115, 3);
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: rgb(252, 115, 3);
    background-color: lightgray;

}
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
    padding-right: 50px;
    padding-top:10px;
}
.navbar-brand {float:none;}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
    margin-bottom: 0;
    font-size: 0.9em;
   }
img {
    vertical-align: middle;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.categorySelection p{
	font-size: 0.8em;
}
.selectedCategory{
	/*max-width: 800px;*/
	word-wrap: break-word;
	text-overflow: ellipsis;
	display: table-cell;
}
.categoryNews img{
    width:400px;
}
.categoryTitle{
    color: white;
}
.newsTitle{
     color:#066bb2;
     text-align: center;
     font-size: 2em;
     display: block;
}
/* from here it belongs to comment section */

.commentList {
	 padding: 10px;
    list-style: none;
    /*max-height:280px;*/
}
.commentList li {
    border-bottom: 1px dotted #b9b9b9;
    padding: 20px 0 20px 5px;
    -webkit-transform: translateZ(0);
}

.commentFormDiv{
	padding-top: 20px;
}

.likeDislikeSeciton{
	padding-top: 10px;
}
/* back to top */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #2F4F4F url(/images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* advertisement */
.advertisement img {
    max-height: 300px;
    max-width: 300px;
}
.categoryHeading h4{
    
    background: #2F4F4F;
    padding: 10px;
    height: 40px;
    /*opacity: 0.7;*/
     
}




.list-aggregate li {
    border-bottom-color: #e5e5e5;
}
.list-aggregate>li {
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: solid 1px transparent;
    -webkit-transition: ease-in-out background-color .15s .05s;
    -o-transition: ease-in-out background-color .15s .05s;
    transition: ease-in-out background-color .15s .05s;
}
.fat-l {
    float: left;
}
 
.carousel-control {
    top: 40%;
    height: 30px;
}
.noImgDiv img{
    display: none;
}
.wrap-text data-oembed-url {
    display: none;
}


.coverflow { height: 100px; border-bottom: solid 2px black; }
.coverflow .cover {
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 500%;
    border: solid 2px black;
    text-align: center;
    background: #e2e2e2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-8 */
}
.coverflow .cover.current {
    opacity: 1;
    border-bottom: none;
    box-shadow:	0 0 16px rgba(0,0,0,.5);
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.coverflow .cover.current:after {
	content:			' ';
	background-color:	white;
	display:			block;
	position:			absolute;
	width:				132px;
	height:				16px;
	left:				-16px;
	bottom:				-16px;
}
			/* CD covers */
.photos .cover {
	cursor: pointer;
	/*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, .5)));*/
}