<p>Dear <b>$user ,</b></p>
<br>
<p>We value our customers and their business. We have added the advertisement of your company as agreed.</p>
 
<br>
<p>Company :<b>$companyName</b> </p> 
<p>Start At: $startDate</p>
<p>Ends At: $endDate</p>
 

<p>Best Regards</p> 
<p><b>newsenepal.com</b> </p> 