<p>Dear <b>$user ,</b></p>
<br>
<p>We value our users, thus will be updating you when somebody likes or dislikes your comment which you made on the following news:</p>
<br>
<p>Title :<b>$newsTitle</b> </p>
<p>Your comment: $userComment </p>
 

 

<p>Best Regards</p> 
<p><b>newsenepal.com</b> </p> 