<p>Dear <b>$user ,</b></p>
<br>
<p>Your comment has been liked/disliked by someone. </p>
<br>
<p>Title :<b>$newsTitle</b> </p>
<p>Your comment: $userComment </p>

<p> <b>Here is the status :</b> </p>
<p> Like: <b> $likeCounter </b></p>
<p> DisLike : <b> $dislikeCounter </b></p>

 

 

<p>Best Regards</p> 
<p><b>newsenepal.com</b> </p> 